  <footer class='bg-secondary pt-5 pb-5'>
    <div class='container mt-5'>
      <div class='row no-gutters'>
        <div class='mx-auto'>
          <p class='text-light'>©2021 Copyright:Recette.com</p>
        </div>
      </div>
    </div>
  </footer>